.profile-page {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0f172a;
  color: white;
}

.profile-card {
  background: #111827;
  padding: 40px;
  border-radius: 16px;
  width: 420px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.4);
}

.subtitle {
  opacity: 0.7;
  margin-bottom: 30px;
}

.profile-avatar {
  position: relative;
  text-align: center;
  margin-bottom: 30px;
}

.avatar-circle {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: #374151;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;
  margin: auto;
}

.camera-icon {
  position: absolute;
  right: 130px;
  bottom: 0;
  font-size: 18px;
}

.profile-field {
  margin-bottom: 20px;
}

.profile-field input {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #374151;
  background: #1f2937;
  color: white;
}

.profile-section {
  margin-top: 20px;
}

.logout-btn {
  margin-top: 30px;
  width: 100%;
  padding: 12px;
  background: #ef4444;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}

.back-btn {
  position: absolute;
  top: 80px;
  left: 20px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}
.avatar-image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}

.sidebar-avatar-img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
}